@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scroll-fade-in {
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    transform: translateY(30px);
  }

  .scroll-fade-in.animate-in {
    opacity: 1 !important;
    transform: translateY(0);
  }
}
